a:hover {
  text-decoration: none;
}

/* nav */

.nav-link {
  color: #222 !important;
  font-size: 14px;
  padding: 15px !important;
}

nav ul li a.active {
  color: #fff;
  font-weight: bold !important;
}

.carousel-inner img {
  width: 100px;
  height: 76vh;
}

/* funding */

.funding {
  padding: 0 50px;
  margin-top: 100px;
}

.fund-details {
  margin-top: 40px;
}

.fund-details h3 {
  font-weight: 600;
}

.card {
  -webkit-box-shadow: 10px 11px 17px -11px rgba(34, 34, 34, 1);
  -moz-box-shadow: 10px 11px 17px -11px rgba(34, 34, 34, 1);
  box-shadow: 10px 11px 17px -11px rgba(34, 34, 34, 1);
  margin-top: 50px;
}

.card .para {
  font-size: 24px;
  font-weight: 600;
}

.card .para span {
  font-size: 16px;
  font-weight: 100;
}

.progress {
  margin-bottom: 20px;
}

.progress-bar {
  background-color: #901d28;
}

.card h4 {
  font-weight: bold;
}

.info {
  display: flex;
}

.left-info i {
  font-size: 28px;
  color: #212246;
  margin-top: 20px;
}

.right-info {
  margin-left: 20px;
}

.right-info h6 {
  font-weight: bold;
  font-size: 18px;
  margin-top: -10px;
}

.right-info h6 span {
  font-weight: 100;
  font-size: 16px;
  padding-left: 20px;
}

.butt a {
  width: 200px;
  font-size: 14px;
  margin-top: 30px;
  background-color: #901d28;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
  border: none;
}

.butt a:hover {
  background-color: #a72835;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    color: #fff !important;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link @media screen and (max-width: 420px) {
  .funding {
    margin-top: -10px;
    margin-bottom: 50px;
  }
}