a:hover {
  text-decoration: none;
}

/* nav */

.nav-link {
  color: #222 !important;
  font-size: 14px;
}

/* form */

.form-container {
  /* border: 1px solid #222; */
  margin-top: 110px;
  border-radius: 4px;
  padding: 50px 60px;
  -webkit-box-shadow: -1px 4px 32px -1px rgba(204, 204, 204, 1);
  -moz-box-shadow: -1px 4px 32px -1px rgba(204, 204, 204, 1);
  box-shadow: -1px 4px 32px -1px rgba(204, 204, 204, 1);
}

::placeholder {
  background-color: #fff;
  font-size: 0.9em;
}

.btn-block {
  margin-top: 20px;
  background-color: #901d28;
  border: none;
  font-weight: bold;
}

.btn-block:hover {
  background-color: #fff;
  color: #901d28;
  border: 1px solid #901d28;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 1em;
}

.password-action {
  display: flex;
  justify-content: center;
  font-size: 1em;
  align-items: center;
  margin-top: -10px;
}